<!-- <app-navbar></app-navbar> -->
<div class="watchlist">
<div class="container col-lg-8 mt-5">
<h1 class="fs-2" style="font-family: Open Sans semibold;">My Watchlist</h1>
<div class="spinner1">
<div class="spinnerpos"><mat-spinner [style.color]="isloading?'blue':'red'" *ngIf="isloading" diameter="55"></mat-spinner></div>
<ngb-alert *ngIf="emptydata" type="custom" [dismissible]="false" class="mt-4">Currently you don't have any stock in your watchlist.</ngb-alert>
<div *ngIf="!isloading">
<div *ngFor="let item of this.results; index as i" class="mt-3">
    <div class="card"> 
            <div class="card-body">     
            <div class="card-title" ><button type="button" (click)="removewatchlist(results[i].ticker)" class="btn-close" aria-label="Close"></button></div>
              <div class="textnews container row mb-2">
                <div class="input-group justify-content-between" (click)="this.gototicker(results[i].ticker)">
                <div class="card-text col-lg-6" id="firstline" (click)="this.gototicker(results[i].ticker)"> 
                  <p class="firstrow" style="font-family: Noto Sans Medium;">{{results[i].ticker}}</p>
                  <p class="secondrow mt-3" style="font-family: Open Sans semibold;">{{results[i].company_name}}</p>
                  <br>
                </div>
                <div class="card-text col-lg-6" (click)="this.gototicker(results[i].ticker)">
                  <p class="firstrow" style="font-family: Noto Sans semibold;" [style.color]="positive[i]?'green':nochange[i]?'black':'red'">{{quoteresults[i].c.toFixed(2)}}</p>
                  <div class="secondrow mt-3">
                  <svg *ngIf="positive[i]&&!nochange[i]" style="font-family: Noto Sans semibold;"   [style.color]="positive[i]?'green':nochange[i]?'black':'red'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                  </svg>
                  <svg *ngIf="!positive[i]&&!nochange[i]" style="font-family: Noto Sans semibold;" [style.color]="positive[i]?'green':nochange[i]?'black':'red'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                  </svg>
                  <p id="change" style="font-family: Noto Sans semibold;" [style.color]="positive[i]?'green':nochange[i]?'black':'red'" class="">{{quoteresults[i].d.toFixed(2)}}  </p>
                  <p id="change-percent" style="font-family: Noto Sans semibold;" [style.color]="positive[i]?'green':nochange[i]?'black':'red'" class="ps-1">  ({{quoteresults[i].dp.toFixed(2)}}%)</p>
                  <br>
                </div>
                </div>
                </div>  
                <!-- <p class="firstrow">{{results[i].ticker}}</p> 
                <p id="name" class="secondrow">{{results[i].company_name}}</p></div>
                <div class="col-lg-6"><p class="firstrow" [style.color]="positive[i]?'green':nochange[i]?'black':'red'">{{quoteresults[i].c.toFixed(2)}}</p>
          
                <div  class="secondcolumn ms-2 col-lg-6"><svg class="secondrow" *ngIf="positive[i]&&!nochange[i]" [style.color]="positive[i]?'green':nochange[i]?'black':'red'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                </svg>
                <svg class="secondrow" *ngIf="!positive[i]&&!nochange[i]" [style.color]="positive[i]?'green':nochange[i]?'black':'red'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
                <p id="change" [style.color]="positive[i]?'green':nochange[i]?'black':'red'" class="secondrow">{{quoteresults[i].d.toFixed(2)}} </p>
                <p id="change-percent" [style.color]="positive[i]?'green':nochange[i]?'black':'red'" class="secondrow"> ({{quoteresults[i].dp.toFixed(2)}}%)</p></div> 
              </div> -->
              </div>
            </div>
        </div>
    <br>
  </div>
</div>
</div>
</div>
</div>

