@font-face{
    font-family: "Swiss 721";
    src: url('fonts/Swiss721BT-Medium.otf') format('opentype');
}
@font-face {
    font-family: "XM Vahid";
    src: url("fonts/XM Vahid.ttf") format('truetype');
}
body{
    margin: 0%;
    width: 1239px;
}
nav{
    background-color: white;
    float: right;
    position: fixed;
    width: 1239px;
    height: 90px;
    margin: 0%;
    z-index: 50;
    align-items: center;
}
.navbar-brand {
    position: relative;
    float: left;
    display:block;
    padding-left: 160px;
    padding-right: 70px;
    padding-bottom: 10px;
    padding-top: 8px;
    color: #B3985A;
    background-color: white;
    font-family: "Swiss 721";
    font-weight: 100;
}
ul {
    list-style-type: none;
    margin-left: 600px;
    margin-top: 0%;
    padding-right: 50px;
}
li {
    float: right;
    font-size: 100%;
    font-weight: 400;
    font-family: 'XM Vahid';
} 
a:hover{
    color: #807149;
}
a {
    display: block;
    color: black;
    padding: 20px;
    text-decoration: none;
    background-color: white;
  }
.body1{
    background-image: url("images/image3.png");
    background-attachment: fixed;
    background-size: auto;
    background-repeat: no-repeat;
}
/* .image1{
    background-size:cover;
    background-attachment: fixed;
    width: 105%;
    margin-left: -1%;
    margin-right: -5%;
    float: left;
    position:static;
    height: 75%;
} */

.active > a{
    color: #807149;
}
.overlay{
    position: absolute;
    padding-left: 37%;
    padding-top: 308px;
    font-size: 350%; 
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: "Benne";
    font-weight: bold;
    letter-spacing: 19px;
}
#word1{
    padding-left: 450px;
}
#word2{
    padding-left: 340px;
}
#word3{
    padding-left: 435px;

}
.div2{
    background-color: white;
    margin-top: 878px;
    margin-left: -2%;
    padding-left: 105px;
    padding-right: 0px;
    margin-right: 0%;
    padding-top: 70px;
}
#flower1> .div2{
    float: left;
    margin-left: 205px;
}
#image3{
    margin-top: -55%;
    padding-left: 480px;
    width: 600px;
    height: 580px;
    margin-bottom: 18px;
    padding-right: 0px;
}
.div3{
    margin-top: -518px;
    margin-left: 145px;
    color: white;
    font-size: 250%;
    position: absolute;
}
#first{
    font-family: "Swiss 721";
    font-size: 85%;
    letter-spacing: 14px;
}
#second{
    padding-top: 27%;
    padding-left: 14px;
    font-size: 55%;
    font-family: "Benne";
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 0px;
}
#third{
    font-size: 55%;
    margin-top: 5px;
    padding-left: 100px;
    font-family: "Benne";
    font-weight: 600;
    letter-spacing: 2px;
} 
.button1{
    margin-left: 3%;
    margin-top: 13%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 82px;
    padding-right: 85px;
    background-color: #AC9454;
    font-size: 45%;
    font-family: "Swiss 721";
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}
.div4{
    text-align: center;
    margin-top: 0px;
    padding-top: 60px;
    letter-spacing: 2px;
    margin-bottom: 15%;
}
#quo{
    letter-spacing: 0px;
    font-size: 460%;
    margin-bottom: 0px;
    font-weight: bold;

}
/*.thin-tails {
    text-decoration: underline;
    text-decoration-thickness: 0.4px; /* Adjust thickness as needed */
    /*text-decoration-offset: 0.3em; /* Adjust tail position */
  
    /* Ensure alignment for bold quotes (if applicable) */
    /*font-weight: bold;
    text-decoration-skip-ink: none;
}*/
.test1{
    font-family: 'Benne';
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 250%;
    font-weight: bold;
}

#JnJ{
    letter-spacing: 0px;
    padding-top: 35px;
    font-family: 'Swiss 721';
    font-size: 100%;
    color: #AC9454;
}
.body2{
    background-image: url("images/image2.png");
    background-attachment: fixed;
    background-size: 1079px ;
    background-position: 80px -40px;
    background-repeat: no-repeat;
    margin-top: -20px;
    margin-left: 80px;
    margin-right: 80px;

}
#flower2{
    padding-top: 65px;
    padding-left: 55%;
    padding-bottom: 80px;
}
.div5{
    margin-top: -575px;
    padding-left: 750px;
    color: white;
    font-size: 250%;
    position: absolute;
    
}
#before-fourth{
    margin-left: 0px;
    font-family: "Swiss 721";
    font-size: 85%;
    letter-spacing: 15px;
}
#fourth{
    padding-top: 27%;
    padding-left: 20px;
    font-size: 55%;
    margin-bottom: 0%;
    font-family: 'Benne';
    font-weight: bold;
    letter-spacing: 8px;
    font-weight: 600;
}
#fifth{
    margin-top: 0%;
    padding-top: 10px;
    padding-left: 55px;
    font-size: 60%;
    font-family: 'Benne';
    font-weight: bold;
    letter-spacing: 8px;
    font-weight: 600;
}
#button2{
    margin-left: 8%;
    margin-top: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #AC9454;
    font-size: 45%;
    color: white;
    font-family: "Swiss 721";
    font-weight: 500;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}
.div6{
    background-color: #AC9454;
    color: white;
    width: 92%;
    padding-top: 50px;
    padding-bottom: 60%;
    height: fit-content;
    margin-left: 80px;
    margin-right: 170px;
    width: 1081px;
    padding-bottom: 70px;
    font-size: 250%;
    margin-bottom: 40px;
}
.footer-text{
    font-family: "Swiss 721";
    letter-spacing: 0.5px;
}
#sixth{
    font-size: 35%;
    padding-left: 100px;
    float: left;
}
#seventh{
    font-size: 35%;
    margin-left: 30px;
    padding-top: 0px;
    padding-left: 30px;
    border-left: 1px solid white;
    /*border-width: 1px;*/
    height: 50px;
    float: left;
}
#eighth{
    font-size: 35%;
    margin-top: 14.5px;
    margin-left: 20px;
    padding-top: 0px;
    padding-bottom: 9px;
    padding-left: 20px;
    border-left: 1px solid white;
    /*border-width: 1px;*/
    height: 40px;
    float: left;
}
#button3{
    margin-left: 125px;
    margin-top: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #AC9454;
    font-size: 38%;
    color: white;
    font-family: "Swiss 721";
    font-weight: 400;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}
