nav{
    background-color: white;
    float: right;
    position: fixed;
    padding-right: 108px;
    margin-top: -1%;
    margin-left: -1%;    
    margin-right: -5%;
}
.navbar-brand {
    position: relative;
    float: left;
    display:block;
    padding-left: 175px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-top: 5px;
    color: rgb(244, 192, 128);
    background-color: white;
    
}
ul {
    list-style-type: none;
    margin-left: 950px;
    margin-top: 0%;
}
li {
    float: right;
} 
a {
    display: block;
    color: black;
    padding: 20px;
    text-decoration: none;
    background-color: white;
  }
.image1{
    background-size:cover;
    width: 105%;
    margin-left: -1%;
    margin-right: -5%;
    float: left;
}
.active > a{
    color: rgb(231, 171, 97);
}
.image2{

    width: 100%;
}
.overlay{
    text-align: center;
    position: absolute;
    padding-left: 35%;
    padding-top: 25%;
    font-size: 450%;
    color: white;
    /*font-weight: bold;*/
    font-family: 'Garamond'
}
#word2{
    padding-top: 25%;
    padding-left: 27%;
}
#word3{
    padding-left: 34%;
    padding-top: 25%;
}