@font-face {
    font-family: "Roboto Light";
    src: url("fonts/Roboto-Light.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto Regular";
    src: url("fonts/Roboto-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Open Sans Regular";
    src: url("fonts/OpenSans-Light.ttf") format('truetype');
}
body{
    margin:0px;
    background-image: url("img/back.svg");
    background-repeat: no-repeat;
    background-position: -160px 0px;
    width: 1518px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: 2000px 320px;
    overflow-x: hidden;
}
#heading{
    text-align: center;
    font-size: 190%;
    color: #222734;
    font-family: "Open Sans";
}
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#search{
    width:600px;
    height: 3rem;
    background: white;
    outline: none;
    border: none;
    border-radius: 0.8rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
    padding-left: 46px;
    box-shadow: 0.5px 2px 2px 0.5px rgba(0, 0, 0, 0.15);
}
#submit-image{
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
#search-img{
    margin-left: -693px;
    position: absolute;
    height: 44.8px;
    padding-right: 0px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-top: -7px;
}
::placeholder{
    color: #696A6C;
    opacity: 0.8;
}
.search-bar img{
    filter: invert(84%) sepia(4%) saturate(131%) hue-rotate(131deg) brightness(93%) contrast(90%);
}
.search-bar img:hover{
    filter: invert(43%) sepia(7%) saturate(122%) hue-rotate(182deg) brightness(93%) contrast(89%);
}
#close-img{
    cursor: pointer;
    margin-left: -45px;
    padding-top: 17px; 
    padding-right: 12px;
    padding-left: 3px;
    padding-bottom: 15px;
    height: 15px;
    width: 15px;
} 
#vertical_bar{
    margin-left: 615px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #f0f4fe;
    position: absolute;
    height: 47px;
    opacity: 0.25;
    size: 2px;
}

#display{
    display:none;
    padding-top: 20px;
}
.Content{
    margin-top: 157px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
}
#Not_found_tab{
    display: flex;
    justify-content: center;
}
#not_found_text{
    background-color: #EBEBEB;
    border-radius:  0.8rem;
    padding-top: 13px;
    margin-top: 70px;
    padding-bottom:13px;
    padding-left: 95px;
    padding-right: 95px;
    font-size: 115%;
    margin-left: 60px;
    font-family: "Open Sans Regular";
    font-weight: bold;
    letter-spacing: 0.5px;
    color: rgb(25, 24, 24);
}
.outerdiv{
    display: flex;
    justify-content: center;
}
.outerdiv2{
    display:flex;
    justify-content: center;
}
ul {
    list-style-type: none; 
    margin-left: 50px;
    width: 800px; 
    margin: 0px;
    padding:19px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}
.nav {
    padding: 18px;
    border: none;
    cursor: pointer;
    display: inline;
    font-size: 100%;
    font-weight: 400;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 19px;
    height: 56.4px;
    text-decoration: none;
    background-color: #FAFAFA;
    font-family: "Roboto Light";
}
#parent{
    display: flex;
    justify-content: center;
}
#navbar{
    background-color: #FAFAFA;
    height: 56px; 
    width: 996px;
    display: flex;
}
#myNavbar{
    margin-top: -51px;
    background-color: #FAFAFA;
    height: 56px; 
    width: 996px;
    display: flex;
    justify-content: center;    
}
.company{
    padding-top: 35px;
    text-align: center;
}
#stock{
    padding-top: 20px;
}
#logo-image{
    height:100px; 
    width:100px;
    padding-bottom: 10px;
    align-self: center;
}
.company hr{
    color: #faf4f4;
    width: 500px;
}
.active{
    background-color: #CECECE;
}
#navbar .nav:hover{
    background-color: #DCDBDB;
}
.company p{
    display: inline;
}
table{
    border-spacing: 0;
    border-width: 0;
    padding: 0;
    border-width: 0;
}
.table2{
    border-spacing: 0;
    border-width: 0;
    padding: 0;
    border-width: 0;
    margin-left: 35px;
}
td{
    border-bottom: #e7e4e4 1px solid;    
}
.table-left{
    text-align: right;
    padding: 5px;
    padding-left: 90px;
    font-family: "Roboto Regular";
    font-weight: bold;
}
.table2-left{
    text-align: right;
    padding: 5px;
    padding-left: 7px;
    font-family: "Roboto Regular";
    font-weight: bold;
}
#company-left{
    text-align: right;
    font-family: "Roboto Regular";
    font-weight: bold;
}
#company-name{
    text-align: left;
    font-family: "Roboto Light";
}
#stock-left{
    text-align: right;
    font-family: "Roboto Regular";
    font-weight: bold;
}
#symbol{
    text-align: left;
    font-family: "Roboto Light";
}
.firsttablerow{
    border-top:  black 1px solid;
    border-color:#e7e4e4;
    padding: 5px;
}
.table-right{
    text-align: left;
    padding: 5px;
    font-family: "Roboto Light";
}
.table2-right{
    text-align: left;
    padding: 5px;
    padding-right: 42px;
    font-family: "Roboto Light";
}
#arrow-change{
    padding-left: 2px;
}
#arrow-percent{
    padding-left: 2px;
}
.arrow{
    height: 15px;
    width: 15px;
}
.left-text{
    display: flex;
    flex-direction: column;
    margin-top: 5px ;
}
.right-text{
    display: flex;
    flex-direction: column;
    margin-top: 5px ;
    padding-left: 5px;
}
.strongselltext{
    color: #d12e4c;
    font-family: "Roboto Light";
    font-size: 80%;
    letter-spacing: 0.5px;
    margin: 0px;
}
#strongsell{
    color: white;
    background-color: red;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom: 40px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 105%;
    font-family: "Roboto Regular";
}

#sell{
    color: white;
    background-color: #B45C4C;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    margin-left: -1px;
    margin-bottom: 40px;
    margin-top: 5px;
    font-size: 105%;
    font-family: "Roboto Regular";
}
#hold{
    color: white;
    background-color: #75945D;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    margin-left: -1px;
    margin-bottom: 40px;
    margin-top: 5px;
    font-size: 105%;
    font-family: "Roboto Regular";
}
#buy{
    color: white;
    background-color: #3CCC6C;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    margin-left: -0px;
    margin-bottom: 40px;
    margin-top: 5px;
    font-size: 105%;
    font-family: "Roboto Regular";
}
#strongbuy{
    color: white;
    background-color: #04FC7C;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    margin-left: -0px;
    margin-bottom: 40px;
    margin-top: 5px;
    font-size: 105%;
    font-family: "Roboto Regular";
}

.strongbuytext{
    color: #4ace85;
    font-family: "Roboto Light";
    font-size: 80%;
    letter-spacing: 0.5px;
    margin: 0px;
}
.right-text{
    padding-left: 10px;
}
#recomm{
    padding-top: 20px;
    font-size: 120%;
    display: flex;
    padding-right: 40px;
    padding-left: 80px;
}
#textrecomm{
    margin-top: -20px;
    font-family: "Roboto Light";
    font-size: 115%;
}
.news-image{
    height: 100px;
    width: 100px;
    padding: 15px
}
.outerdiv4{
    display: flex;
    justify-content: center;
}
.outerdiv4 .company{
    padding-top: 0px;
}
.outerdiv4 .company .company-line{
    background-color: #FAFAFA;
    margin-top: 30px;
    width: 996px;
    margin-right: 0px;
    display: flex;
    justify-content: left;
}
#firstnews{
    background-color: #FAFAFA;
    margin-top: 20px;
    width: 996px;
    margin-right: 0px;
    display: flex;
    justify-content: left;
}
.content-news{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 12px;
    font-family: "Roboto Light";
    font-size: 108%;
    
}
.links{
    width:129.55px
}
.content-news b p{
    margin: 0px;
    padding-top: 15px;
}
.content-news p{
    margin: 0px;
}
#chart_display{
    width: 996px;
    height: 550px;
    padding-top: 20px;
    text-align: center;
}
#subtitle{
    z-index: 50;
    position: absolute;
    padding-top: 56px;
    font-family: "Helvetica";
    font-size: 80%;
}
.headlines{
    font-family: "Roboto Regular";
    font-weight: bold;
    font-size: 115%;
}